<h1 mat-dialog-title>Add New Color</h1>
<div mat-dialog-content>
  <form (ngSubmit)="createColor()">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Color Name</mat-label>
      <input matInput [(ngModel)]="newColor.name" name="name" required />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Color Code</mat-label>
      <input
        matInput
        [(ngModel)]="newColor.code"
        name="code"
        type="color"
        required
      />
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Add Color</button>
  </form>

  <div class="color-list">
    <div
      *ngFor="let color of colors"
      class="color-item"
      [style.background-color]="color.code"
      [style.color]="getContrastYIQ(color.code)"
      (click)="selectColor(color)"
    >
      <span>{{ color.name }}</span>
      <button mat-icon-button (click)="deleteColor(color)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onClose()">Close</button>
</div>
