<h1 mat-dialog-title>Add New Product</h1>
<div mat-dialog-content>
  <form [formGroup]="productAddForm">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Product Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Size</mat-label>
      <mat-select formControlName="size">
        <mat-option *ngFor="let option of sizeOptions" [value]="option.value">
          {{ option.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div>
      <label>Select Color:</label>
      <div class="color-list mt-2">
        <div
          *ngFor="let color of colors"
          class="color-item"
          [ngStyle]="{
            'background-color': color.code,
            color: getContrastYIQ(color.code),
            border:
              selectedColorId === color.id
                ? '4px solid black'
                : '1px solid #ccc'
          }"
          (click)="selectColor(color)"
        >
          <span>{{ color.name }}</span>
        </div>
      </div>
    </div>

    <button class="mt-3" mat-raised-button (click)="openColorDialog()">
      Add New Color
    </button>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-raised-button color="primary" (click)="save()">Save</button>
</div>
