<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Products</h4>
            <div>
              <a
                *ngIf="checkClaim('CreateProductCommand')"
                class="pull-right"
                (click)="ProductAddDialog()"
              >
                <i title="Add" class="far fa-plus-square fa-2x"></i>
              </a>
            </div>

            <div class="col-md-4 pull-right">
              <mat-form-field>
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="" #input />
              </mat-form-field>
            </div>
          </div>

          <div class="product-filters">
            <button mat-raised-button (click)="showAllProducts()">Show All</button>

            <button
              mat-button
              *ngFor="let name of uniqueProductNames"
              (click)="filterProductsByName(name)"
            >
              {{ name }}
            </button>
          </div>

          <div class="card-body">
            <mat-grid-list cols="8" rowHeight="3:6" gutterSize="12px">
              <mat-grid-tile
                class="mb-0"
                *ngFor="let element of dataSource?.filteredData"
                [colspan]="2"
                [rowspan]="1"
              >
                <mat-card class="product-card" appearance="outlined">
                  <mat-card-header>
                    <div>
                      <mat-card-title>{{ element.name }}</mat-card-title>
                      <small>ID: {{ element.id }}</small>
                    </div>
                  </mat-card-header>
                  <mat-card-content>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                  </mat-card-content>
                  <mat-card-footer class="product-card-footer">
                    <mat-chip-set class="mx-3">
                      <mat-chip
                        [style.background-color]="colorCodesMap[element.colorId]"
                        class="w-25"
                        title="{{ colorNamesMap[element.colorId] }}"
                      ></mat-chip>
                      <mat-chip id="size-chip">Size: {{ element.size }}</mat-chip>
                    </mat-chip-set>
                  </mat-card-footer>

                  <mat-card-actions>
                    <div class="d-flex ms-auto">
                      <div *ngIf="checkClaim('UpdateProductCommand')">
                        <mat-icon
                          class="mx-2"
                          (click)="ProductUpdateDialog(element.id)"
                          style="cursor: pointer"
                          title="Edit"
                        >
                          edit
                        </mat-icon>
                      </div>
                      <div *ngIf="checkClaim('DeleteProductCommand')">
                        <mat-icon
                          class="mx-2"
                          (confirm)="deleteProduct(element.id)"
                          [swal]="deleteSwal"
                          style="cursor: pointer; color: #d9534e"
                          title="Delete"
                        >
                          delete
                        </mat-icon>
                      </div>
                    </div>
                  </mat-card-actions>
                </mat-card>
              </mat-grid-tile>
            </mat-grid-list>
            <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<swal
  #deleteSwal
  title="DeleteConfirm"
  icon="error"
  [showCancelButton]="true"
  [confirmButtonText]="'OK'"
  [cancelButtonText]="'Cancel'"
>
</swal>
