<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Product List</h4>
            <a
              *ngIf="checkClaim('CreateProductCommand')"
              class="pull-right"
              (click)="ProductAddDialog()"
            >
              <i
                style="color: white"
                title="Add"
                class="far fa-plus-square fa-2x"
              ></i>
            </a>
            <div class="col-md-4 pull-right">
              <mat-form-field>
                <mat-label>Filter</mat-label>
                <input
                  matInput
                  (keyup)="applyFilter($event)"
                  placeholder=""
                  #input
                />
              </mat-form-field>
            </div>
          </div>

          <div class="card-body">
            <mat-grid-list cols="8" rowHeight="3:5" gutterSize="16px">
              <mat-grid-tile
                *ngFor="let element of dataSource?.filteredData"
                [colspan]="2"
                [rowspan]="2"
              >
                <mat-card class="product-card" appearance="outlined">
                  <mat-card-header>
                    <div>
                      <mat-card-title>{{ element.name }}</mat-card-title>
                      <small>ID: {{ element.id }}</small>
                    </div>
                  </mat-card-header>
                  <mat-card-content>
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua."
                  </mat-card-content>
                  <mat-card-footer class="product-card-footer">
                    <mat-chip-set>
                      <mat-chip>Color: {{ element.colorId }}</mat-chip>
                      <mat-chip>Size: {{ element.size }}</mat-chip>
                    </mat-chip-set>
                    <mat-card-content>
                      <mat-checkbox [checked]="element.status" [disabled]="true">Status</mat-checkbox>
                    </mat-card-content>
                  </mat-card-footer>

                  <mat-card-actions>
                    <div class="actions-flex-container">
                      <div class="actions-button-container">
                        <button class="action-button" id="edit-button" mat-fab extended *ngIf="checkClaim('UpdateProductCommand')"
                          (click)="ProductUpdateDialog(element.id)">
                          <mat-icon>edit</mat-icon>
                          Edit
                        </button>
                      </div>
                      <div class="actions-button-container">
                        <button class="action-button" id="delete-button" mat-fab extended *ngIf="checkClaim('DeleteProductCommand')"
                          (click)="deleteProduct(element.id)" [swal]="deleteSwal">
                          <mat-icon>delete</mat-icon>
                          Delete
                        </button>
                      </div>
                    </div>
                  </mat-card-actions>
                </mat-card>
              </mat-grid-tile>
            </mat-grid-list>
            <mat-paginator
              [pageSizeOptions]="[10, 25, 50, 100]"
            ></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<swal
  #deleteSwal
  title="DeleteConfirm"
  icon="error"
  [showCancelButton]="true"
  [confirmButtonText]="'OK'"
  [cancelButtonText]="'Cancel'"
>
</swal>
